[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
bind-address    = 0.0.0.0
secure-file-priv= NULL
symbolic-links=0

# Custom config should go here
!includedir /etc/mysql/conf.d/


